{# SPDX-FileCopyrightText: Copyright 2026 Arm Limited and/or its affiliates <open-source-office@arm.com> #}
{# SPDX-License-Identifier: Apache-2.0 #}
{% for copyright_line in copyright_lines -%}
{{ copyright_line }}
{% endfor -%}
{% for expression in spdx_expressions -%}
SPDX-License-Identifier: {{ expression }}
{% endfor -%}
